* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#NavButton {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 45.5%;
    margin-bottom: 10px;
    border-radius: 10px;
}


#roomTitle {
    margin-left: 44%;
    margin-bottom: 60px;;
}

#userContainer {
    margin-left: 675px;
    margin-bottom: 100px;
    font-size: 25px;
}