* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#joinH1 {
    text-transform: uppercase;
    margin-left: 43.6%;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 20px
}
