/* .container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
  border: 1px solid black;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
} */

