header {
    color: black;
}

#logo {
    font-weight: bolder;
    font-size: 63px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 80px;
    margin: 80 auto 0 auto;
}

#image {
    height: 50px;
}