
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#usernameLabel {
    font-weight: bold;
    margin-left: 24%;
    font-size: 20px;
}

#createRoom {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 28%;
    margin-bottom: 10px;
    border-radius: 10px;
}

#joinRoom {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 28%;
    margin-bottom: 10px;
    border-radius: 10px;
}

#username {
    background-color: rgb(212, 220, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 30px;
    height:30px;
    width: 300px;
}

#homeForm {

    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
}
/* 
#jForm {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
} */

#jText {
    background-color: rgb(212, 220, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 30px;
    height:30px;
    width: 300px;
    
}
#jSub {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 28%;
    margin-bottom: 10px;
    border-radius: 10px;
}

#jLabel {
    text-transform: uppercase;
    margin-left: 21%;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 20px
}

#back {
   
    margin-left: -3%
}


.whole {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 

}