
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#usernameLabel {
    font-weight: bold;
    margin-left: 24%;
    font-size: 20px;
}

#createRoom {
   
    text-transform: uppercase;
    background-color: #e5e9e5;
    padding: 10px 20px;
    margin: 18px auto;
    border: 1px solid grey;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 250px;

}


#createRoom:hover{
    color: white;
    background-color: rgb(102, 14, 14);
  
  }

#joinRoom {
    text-transform: uppercase;
    background-color: #e5e9e5;
    padding: 10px 20px;
    margin: 18px auto;
    border: 1px solid grey;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 250px;
}

#joinRoom:hover{
    color: white;
    background-color: rgb(102, 14, 14);
  
  }

#username {
    background-color: rgb(212, 220, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 30px;
    height:30px;
    width: 300px;
}

#homeForm {

    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
}
/* 
#jForm {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
} */

#jText {
    background-color: rgb(212, 220, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 30px;
    height:30px;
    width: 300px;
    
}
#jSub {
    text-transform: uppercase;
    background-color: #e5e9e5;
    padding: 10px 20px;
    margin: 18px auto;
    border: 1px solid grey;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 250px;
}

#jSub:hover{
    color: white;
    background-color: rgb(102, 14, 14);
  
  }

#jLabel {
    text-transform: uppercase;
    margin-left: 21%;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 20px
}

#back {
   
    margin-left: -3%
}


.whole {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 


}