
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#usernameLabel {
    font-weight: bold;
    margin: 11%;
    font-size: 20px;
}

#createRoom {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 13%;
    margin-bottom: 10px;
    border-radius: 10px;
}

#joinRoom {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 13%;
    margin-bottom: 10px;
    border-radius: 10px;
}

#username {
    background-color: rgb(212, 220, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 30px;
    height:30px;
    width: 300px;
}

#homeForm {
    margin-left: 39%;
    width: 50%; 
    
}

#jForm {
    margin-left: 39%;
    width: 50%;
}

#jText {
    background-color: rgb(212, 220, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 30px;
    height:30px;
    width: 300px;
}
#jSub {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 13%;
    margin-bottom: 10px;
    border-radius: 10px;
}