* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

label {
    font-weight: bold;
    font-size: 15px;
}

#players {
    margin-left: 12%;
}

#questions {
    margin-left: 11%;
}

#category {
    margin-left: 12.5%;
}

#difficulty {
    margin-left: 9.5%;
}


/*
#playersNum {
  background-color: rgb(157, 169, 184);
  width: 80px;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
}

#questionNum {
  background-color: rgb(157, 169, 184);
  width: 80px;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
}

#categories {
  background-color: rgb(157, 169, 184);
  width: 300px;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
}
*/


#playersNum {
    background-color: rgb(212, 220, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 300px;
    margin-left: 3%;
    font-size: 15px;
    font-weight: bold;
}

#questionNum {
    background-color: rgb(212, 220, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 300px;
    margin-left: 3%;
    font-size: 15px;
    font-weight: bold;
}

#categories {
    background-color: rgb(212, 220, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 300px;
    margin-left: 3%;
    font-size: 14px;
}

#level {
    background-color: rgb(212, 220, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 300px;
    margin-left: 3%;
    font-size: 14px;
}

/*
#quizSubmit {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;

    width: 100px;
    border-radius: 5px;
    padding: 5px;
    margin: 0 20px;
}

/* form for create game */

/* .createGameContainer{
  width: 800px;
  margin: 0 auto;
} 

.form {
    padding: 20px;
    border: 1px solid #74a756;
    border-radius: 8px;
    background: white;
}*/

#quizSubmit {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 13%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#backBtn {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 45.5%;
    margin-bottom: 10px;
    border-radius: 10px;
}

#quizForm {
    margin-left: 39%;
    width: 50%;
    text-transform: uppercase;
}

/* .btn-create-game{
  color: black;
  padding: 4px 2px;
  margin: 0 auto;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
} */

/* .numberInput{
  width: 50px;
  padding: 5px;
  text-align: center;
} */
