
.questionContainer{
  width: 800px;
  margin: 0 auto;
  border: 1px solid rgb(68, 64, 64);
  padding: 30px;
  border-radius: 5px;
  background-color: rgb(245 245 245 );
}

.questionContainer h3{
  margin-top: 30px;
  color: rgb(78, 4, 4);
  font-size: 22px;
}
.quiz-qst-title {
  color: rgb(146, 58, 58);
  text-align: center;
  font-size: 35px;
}

.quiz-questions h3{
  text-align: center;
  color: rgb(236, 52, 45);
}


.questions{
margin: 10px;
color: rgb(54, 24, 228);
border: 1px solid rgb(102, 14, 14);
}

.answers{
color: rgb(54, 24, 228);

}

 .questionContainer input[type='radio']{
  display: inline-block;
    vertical-align: baseline;
    padding: 10px;
    margin: 10px;
 }

 .label:hover{
    background-color:rgb(102, 14, 14);
    padding: 2px 15px;
    border-radius: 2px;
    color: white;
 }

 .questionContainer input[type=submit] {
  background-color: #e5e9e5;
  padding: 7px 20px;
  margin: 8px 0;
  border: 1px solid rgb(168, 165, 165);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.questionContainer input[type=submit]:hover{
  color: white;
  background-color: rgb(102, 14, 14);
}
